################################################################################
################################################################################
##
##  Default settings for a config. Note that the variable/value pairs
##  must be in the given format.
##
################################################################################
################################################################################

tempSensor=23;  #pin number of the temp sensor
fan1=11;        #relay pin number of the first fan
fan2=13;        #relay pin number of the second fan
lowTemp=75;     #this is the temp at which the fans should turn off
highTemp=85;    #this is the temp at which the fans should kick on
checkDelay=60;  #this is the delay between checking the temp, in seconds
reverseLogic=1; #if the relays are active high or active low; 1 = reversed; ie, low
